In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter("ignore")

In [2]:
df=pd.read_csv(r"C:\Users\Vikash Naik\Desktop\capstone project\CycleData.csv")

In [3]:
df.head()

,ASSOCPAYLOADNOMINAL,AT Available Time (iMine),Autonomous,Available SMU Time,Available Time,Completed Cycle Count,COMPLETEDCYCLEDURATION,Creation Mode,CT Calendar SMU Time,CT Calendar Time,...,Primary Machine Name,Primary Machine Category Name,Primary Machine Class Name,Secondary Machine Name,Secondary Machine Category Name,Secondary Machine Class Name,Crew OID,Job Code Description,Job Code Name,Job Type
0,NaN,737,1.0,737,737,1,737,0,737,737,...,DT5209,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,10718152792,unknown,unknown,NaN
1,NaN,527,1.0,527,527,1,527,0,527,527,...,DT5209,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,10718152792,unknown,unknown,NaN
2,NaN,496,1.0,292,496,1,496,0,264,496,...,DT5283,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,10718152792,unknown,unknown,NaN
3,NaN,714,1.0,420,714,1,714,0,403,714,...,DT5283,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,10718152792,unknown,unknown,NaN
4,NaN,512,1.0,300,512,1,512,0,300,512,...,DT5283,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,10718152792,unknown,unknown,NaN

In [4]:
null= df.isnull().sum()/len(df)*100
a=null.loc[null>50]
print(a,"\n",len(a))

ASSOCPAYLOADNOMINAL                           53.548496
Dumping Duration                              52.285400
Dumping SMU Duration                          52.285400
Destination Dumping Start Timestamp (GMT8)    54.403937
Empty EFH Distance                            52.285400
Empty EFH Length                              52.285400
Empty Expected Travel Duration                52.285400
Empty Fall Height                             52.285400
Empty Plan Length                             52.285400
Empty Rise Height                             52.285400
Empty Slope Distance                          52.285400
Empty Slope Length                            52.285400
Empty Target Travel Duration                  52.285400
Empty Travel Duration                         52.285400
End Processor Name                            52.388898
Fuel Used                                     52.285400
Full Expected Travel Duration                 52.285400
Full Travel Duration                          52.285400
iMine Load FCTR Truck                         52.285400
Loading Efficiency                            53.548496
PREVIOUSSINKDESTINATION                       52.441703
QUEUEATSINKDURATION                           52.285400
Queuing at Sink Duration                      52.285400
Queuing at Source Duration                    52.285400
Queuing Duration                              52.285400
Source Queuing Start Timestamp (GMT8)         66.124535
TMPH                                          52.285400
TRUCKQUEUEATSOURCEDURATION                    53.548496
WAITFORDUMPDURATION                           52.285400
WAITFORLOADDURATION                           52.285400
Source Location Description                   87.761913
Destination Location Name                     52.359327
Destination Location Description              52.359327
Job Type                                      98.312352
dtype: float64
 34

#### THE COLUMN WHICH SHOWS 52 % NULL ARE THOSE WHICH ARE NOT ASSOCIATED WITH TRUCK DATA. HENCE FINDING OF NULL VALUES IS INSIGNIFICANT IN GIVEN DATA SET.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47344 entries, 0 to 47343
Data columns (total 93 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   ASSOCPAYLOADNOMINAL                         21992 non-null  float64
 1   AT Available Time (iMine)                   47344 non-null  int64
 2   Autonomous                                  44582 non-null  float64
 3   Available SMU Time                          47344 non-null  int64
 4   Available Time                              47344 non-null  int64
 5   Completed Cycle Count                       47344 non-null  int64
 6   COMPLETEDCYCLEDURATION                      47344 non-null  int64
 7   Creation Mode                               47344 non-null  int64
 8   CT Calendar SMU Time                        47344 non-null  int64
 9   CT Calendar Time                            47344 non-null  int64
 10  Cycle Duration                              47344 non-null  int64
 11  Cycle SMU Duration                          47344 non-null  int64
 12  Cycle Type                                  47344 non-null  object
 13  Delay Time                                  47344 non-null  int64
 14  Down Time                                   47344 non-null  int64
 15  DTE Down Time Equipment                     47344 non-null  int64
 16  Dumping Duration                            22590 non-null  float64
 17  Dumping SMU Duration                        22590 non-null  float64
 18  Destination Dumping Start Timestamp (GMT8)  21587 non-null  float64
 19  Empty EFH Distance                          22590 non-null  float64
 20  Empty EFH Length                            22590 non-null  float64
 21  Empty Expected Travel Duration              22590 non-null  float64
 22  Empty Fall Height                           22590 non-null  float64
 23  Empty Plan Length                           22590 non-null  float64
 24  Empty Rise Height                           22590 non-null  object
 25  Empty Slope Distance                        22590 non-null  float64
 26  Empty Slope Length                          22590 non-null  float64
 27  Empty Target Travel Duration                22590 non-null  float64
 28  Empty Travel Duration                       22590 non-null  float64
 29  End Processor Name                          22541 non-null  object
 30  Cycle End Timestamp (GMT8)                  47344 non-null  object
 31  Estimated Fuel Used                         47344 non-null  int64
 32  Fuel Used                                   22590 non-null  float64
 33  Full Expected Travel Duration               22590 non-null  float64
 34  Full Travel Duration                        22590 non-null  float64
 35  IC                                          47344 non-null  int64
 36  Idle Duration                               47344 non-null  int64
 37  iMine Availability                          47344 non-null  int64
 38  iMine Engine Hours                          47344 non-null  int64
 39  iMine Load FCTR Truck                       22590 non-null  object
 40  iMine Operating Hours                       47344 non-null  int64
 41  iMine Utilisation                           47344 non-null  int64
 42  Loading Count                               44582 non-null  float64
 43  Loading Duration                            44582 non-null  float64
 44  Loading Efficiency                          21992 non-null  float64
 45  Source Loading End Timestamp (GMT8)         43233 non-null  float64
 46  Source Loading Start Timestamp (GMT8)       43233 non-null  float64
 47  OPERATINGBURNRATE                           47344 non-null  float64
 48  OPERATINGTIME (CAT)                         47344 non-null  int64
 49  OPERHOURSSECONDS                            47344 non-null  int64
 50  Payload (kg)                                44582 non-null  float64
 51  Payload (t)                                 44582 non-null  float64
 52  PREVIOUSSECONDARYMACHINE                    44418 non-null  object
 53  PREVIOUSSINKDESTINATION                     22516 non-null  object
 54  QUEUEATSINKDURATION                         22590 non-null  float64
 55  Queuing at Sink Duration                    22590 non-null  float64
 56  Queuing at Source Duration                  22590 non-null  float64
 57  Queuing Duration                            22590 non-null  float64
 58  Source Queuing Start Timestamp (GMT8)       16038 non-null  float64
 59  SD_SCHEDULEDDOWNTIME                        47344 non-null  int64
 60  SDE_SCHEDULEDDOWNEQUIP                      47344 non-null  int64
 61  Cycle Start Timestamp (GMT8)                47344 non-null  object
 62  TC                                          47344 non-null  int64
 63  TMPH                                        22590 non-null  float64
 64  TOTALTIME (CAT)                             47344 non-null  int64
 65  Travelling Empty Duration                   44582 non-null  float64
 66  Travelling Full Duration                    44582 non-null  float64
 67  TRUCKQUEUEATSOURCEDURATION                  21992 non-null  float64
 68  UNSCHEDULEDDOWNCOUNT                        47344 non-null  int64
 69  UNSCHEDULEDDOWNTIME                         47344 non-null  int64
 70  Record Updated Timestamp (GMT8)             47344 non-null  object
 71  WAITFORDUMPDURATION                         22590 non-null  float64
 72  WAITFORLOADDURATION                         22590 non-null  float64
 73  WORKINGBURNRATE                             47344 non-null  float64
 74  WORKINGDURATION                             47344 non-null  int64
 75  Source Location Name                        44477 non-null  object
 76  Source Location Description                 5794 non-null   object
 77  Source Location is Active Flag              47344 non-null  object
 78  Source Location is Source Flag              47344 non-null  object
 79  Destination Location Name                   22555 non-null  object
 80  Destination Location Description            22555 non-null  object
 81  Destination Location is Active Flag         47344 non-null  object
 82  Destination Location is Source Flag         47344 non-null  object
 83  Primary Machine Name                        47344 non-null  object
 84  Primary Machine Category Name               47344 non-null  object
 85  Primary Machine Class Name                  47344 non-null  object
 86  Secondary Machine Name                      47344 non-null  object
 87  Secondary Machine Category Name             47344 non-null  object
 88  Secondary Machine Class Name                47344 non-null  object
 89  Crew OID                                    47344 non-null  int64
 90  Job Code Description                        47344 non-null  object
 91  Job Code Name                               47344 non-null  object
 92  Job Type                                    799 non-null    object
dtypes: float64(37), int64(30), object(26)
memory usage: 33.6+ MB

# Dropping irrelevent Columns

Notes: 
1."AT Available Time (iMine)" and "Available Time" values are same .Hence Dropping "AT Available Time (iMine)"

2."Down Time" and "Delay Time" values are same .Hence Dropping "Delay Time"
3."Empty EFH Distance" and "Empty EFH Length" values are same .Hence Dropping "Empty EFH Length"
4."OPERATINGTIME (CAT)" and "OPERHOURSSECONDS" values are same .Hence Dropping "OPERHOURSSECONDS".
5."Payload (kg)" and "Payload (t)" values are same .Hence Dropping "Payload (kg)" .
6."QUEUEATSINKDURATION" and "Queuing at Sink Duration:.Hence dropping "QUEUEATSINKDURATION".

In [6]:
df1=df.drop(["AT Available Time (iMine)","Autonomous","Creation Mode","CT Calendar SMU Time","COMPLETEDCYCLEDURATION","Delay Time","Empty EFH Length", "Empty Fall Height","Empty Plan Length","Empty Rise Height","Empty Slope Distance","Empty Slope Length","Empty Target Travel Duration","End Processor Name","Estimated Fuel Used","iMine Utilisation","Loading Count","OPERATINGBURNRATE","OPERHOURSSECONDS","QUEUEATSINKDURATION","UNSCHEDULEDDOWNCOUNT","WORKINGBURNRATE","Source Location is Active Flag","Source Location is Source Flag","Crew OID",],axis=1)
df1.shape
df1.head()

,ASSOCPAYLOADNOMINAL,Available SMU Time,Available Time,Completed Cycle Count,CT Calendar Time,Cycle Duration,Cycle SMU Duration,Cycle Type,Down Time,DTE Down Time Equipment,...,Destination Location is Source Flag,Primary Machine Name,Primary Machine Category Name,Primary Machine Class Name,Secondary Machine Name,Secondary Machine Category Name,Secondary Machine Class Name,Job Code Description,Job Code Name,Job Type
0,NaN,737,737,1,737,737,737,TruckCycle,0,0,...,N,DT5209,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,unknown,unknown,NaN
1,NaN,527,527,1,527,527,527,TruckCycle,0,0,...,N,DT5209,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,unknown,unknown,NaN
2,NaN,292,496,1,496,496,292,TruckCycle,0,0,...,N,DT5283,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,unknown,unknown,NaN
3,NaN,420,714,1,714,714,420,TruckCycle,0,0,...,N,DT5283,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,unknown,unknown,NaN
4,NaN,300,512,1,512,512,300,TruckCycle,0,0,...,N,DT5283,Truck Classes,CAT 793F CMD,WL7058,Loader Classes,WA1200,unknown,unknown,NaN

In [7]:
df1.to_csv(r"C:\Users\Vikash Naik\Desktop\capstone project\Test_Data.csv")